
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Consistent spacing and box sizing */
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
