.images-section {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;
  
}
.image-container{
    max-width: 800px;
    margin: auto;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #003366;
}

.image-preview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


.image-preview img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.more-link {
  margin-top: 20px;
  font-weight: 600;
}

.more-link a {
  color: #003366;
  text-decoration: none;
}

.more-link a:hover {
  text-decoration: underline;
}
/* Fade animation classes */
.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
@media (max-width: 768px) {
  .image-preview img
  {
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 }
 
}